doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible",content="ie=edge")
        title= data.displayInfo.productDescription
        link(rel="stylesheet",href="../stylesheets/style.css")
        link(rel="icon",href="../images/img/favicon.ico",type="image/x-icon")
    body
        header.GNBDetail#GNB
            .container
                img(src="../images/icon/icon.png",alt="")
                h2 {id or login} 
        section.title
            .container
            h1= data.displayInfo.productDescription
        section.productDescription
            .container
                p= data.displayInfo.productContent
                button(label="펼쳐보기")
        section.event
            .container
                h2 이벤트정보
                p [네이버예약 특별할인] 
        section.reservation
            .container
                button(label="예매하기")
        section.comment
            .container
        section.detailDescription
            .container
                nav
                    ul
                        li 상세정보
                        li 오시는길
                article
                    h2 [소개]
                    p= data.displayInfo.productContent
                    h2 [공지사항]
                article
                    img(src= `../${data.displayInfoImage.saveFileName}`)
                    h2= data.displayInfo.productDescription
                    p 
                        | 지도 아이콘 #{data.displayInfo.placeLot}
                        br
                        | 지번 #{data.displayInfo.placeStreet}
                        br
                        | #{data.displayInfo.placeName}
                        br
                        | 전화 아이콘 #{data.displayInfo.telephone}


        aside.helping
            .container
                a(href="#GNB") ↑ TOP
        footer
            .container
                p.caution 네이버(주)는 통신판매의 당사자가 아니며, 상품의정보, 거래조건, 이용 및 환불 등과 관련한 의무와 책임은 각 회원에게 있습니다.
                span.copyright © NAVER Corp.

