doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible",content="ie=edge")
        title= data.displayInfo.productDescription
        link(rel="stylesheet",href="../stylesheets/style.css")
        link(rel="stylesheet",href="../stylesheets/icon.css")
        link(rel="icon",href="../images/img/favicon.ico",type="image/x-icon")
        - const maxStar = 5
        - const getStar = Math.floor(data.averageScore)
        - const ratioStar = Math.round(data.averageScore*10)/10 - getStar
        - let notGetStar
        if ratioStar > Number.EPSILON
            - notGetStar = maxStar - getStar - 1 
            style.
                .comment .commentSummary .ratioStar:before{
                    background: linear-gradient(to Right,#f00 #{Math.round(ratioStar*100)}%,#808080 #{Math.round((1-ratioStar)*100)}%);
                    content:"\EAA3";    
                    background-clip:text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    display:initial;
                }
        else
            - notGetStar = maxStar - getStar
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    body
        header.GNBDetail
            .container
                a(href="../")
                    img(src="../images/icon/icon.png",alt="")
                a(href="../myreservation")
                    if email
                        h2= email
                    else
                        h2 예약확인 
        section.titleImage
            .container
                ul
                    - let imageCount = 0;
                    each imgInfo in data.productImages
                        if imgInfo.type !== "th"
                            - imageCount += 1
                            li
                                img(src=`../${imgInfo.saveFileName}`, alt="")
        section.titleText
            .container
                .topSection
                    span.counting!= `<span class="bright"> 1 </span> / ${imageCount} `
                .middleSection
                    .leftSection
                        if imageCount > 1
                            i.fn.fn-backward2
                    .centerSection
                        h1= data.displayInfo.productDescription
                    .rightSection
                        if imageCount > 1
                            i.fn.fn-forward2
                .bottomSection
        section.productDescription
            .container
        section.event
            .container
                h2!= "<i class='spr_book ico_evt'></i> 이벤트정보"
                - const discountInfo = []
                each priceInfo in data.productPrices
                    if priceInfo.discountRate > Number.EPSILON 
                        - discountInfo.push(`${priceTypeMapper[priceInfo.priceTypeName]} ${Math.round(priceInfo.discountRate)}%`)
                if discountInfo.length === 0
                    p!= "[네이버예약 특별할인] <br>"
                else
                    - const discountText = discountInfo.join(", ") + " 할인"
                    p!= "[네이버예약 특별할인] <br>" + discountText
        section.reservation
            .container
                a(href=`../reserve/${data.displayInfo.displayInfoId}`)!= "<i class='fn fn-nbooking-calender2'></i> 예매하기" 
        section.comment
            .outerContainer
                .innerContainer
                    article.commentSummary
                        h2 예매자 한줄평
                        .summaryContainer
                            .leftContainer
                                - const getStarText = "<i class='fn fn-star2 getStar'></i>"
                                - const notGetStarText = "<i class='fn fn-star2 notGetStar'></i>"
                                if ratioStar > Number.EPSILON
                                    - const ratioStarText = "<i class='fn fn-star2 ratioStar'></i>"
                                    span.starCount!= getStarText.repeat(getStar) + ratioStarText + notGetStarText.repeat(notGetStar)
                                else
                                    span.starCount!= getStarText.repeat(getStar) + notGetStarText.repeat(notGetStar)
                                span.averageScore= getStar + ratioStar
                                span.maxScore / 5.0
                            .rightContainer
                                span.commentCount= data.comments.length + "건 "
                                span.enrollText 등록
                    if data.comments.length !== 0
                        - let count = 1
                        while count <= 3 && count <= data.comments.length
                            article.eachComment
                                .eachContainer
                                    .leftContainer
                                        p= data.comments[count-1].comment
                                    if data.comments[count-1].commentImages.length !== 0
                                        .rightContainer(background-image= `url(../${data.comments[count-1].commentImages[0].saveFileName})`)
                                        span= data.comments[count-1].commentImages.length
                                    else
                                        .rightContainer
                                span.score= data.comments[count-1].score
                                span.email= data.comments[count-1].reservationEmail.slice(0,4) + "****"
                                span.visitDate= data.comments[count-1].reservationDate.slice(0,10) + " 방문"
                                - count +=1
                    aside
                        p!= "<i class='fn fn-alarm1'></i> 네이버 예약을 통해 실제 방문한 이용자가 남긴 평가입니다."
                a(href= `../review/${data.displayInfo.displayInfoId}`)
                    span!= "예매자 한줄평 더보기 <i class='fn fn-forward1'></i>"
        section.detailDescription
            .container
                nav
                    ul
                        li#productInfo.selected 상세정보
                        li#locInfo.unselected 오시는길
                article.productInfo
                    h2 [소개]
                    p= data.displayInfo.productContent
                    h2 [공지사항]
                article.locInfo
                    img(src= `../${data.displayInfoImage.saveFileName}`)
                    h2= data.displayInfo.productDescription
                    .locText
                        .tableRow
                            p.icon
                                i.fn.fn-pin4
                            p.text= data.displayInfo.placeLot
                        .tableRow
                            p.icon 
                            p.text!= "<span class='greyText'>지번</span> " + data.displayInfo.placeStreet
                        .tableRow
                            p.icon
                            p.text
                                span.greyText= data.displayInfo.placeName
                        .tableRow
                            p.icon
                                i.fn.fn-call2
                            p.text= data.displayInfo.telephone
                    .buttonContainer
                        button.findRoad!= "<i class='fn fn-path-find2'></i> 길찾기"
                        button.navigation!= "<i class='fn fn-car-find2'></i> 내비게이션 " 
        aside.helping
            .container
                a(href="#")
                    span!="<i class='fn fn-up1'></i> TOP" 
        footer
            .container
                p.caution 네이버(주)는 통신판매의 당사자가 아니며, 상품의정보, 거래조건, 이용 및 환불 등과 관련한 의무와 책임은 각 회원에게 있습니다.
                span.copyright © NAVER Corp.
        script(src="../javascripts/titleImageScroll.js")
        script(src="../javascripts/detailDescription.js")
        script(src="../javascripts/descriptionOnOff.js")

