doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible",content="ie=edge")
        title= data.displayInfo.productDescription
        link(rel="stylesheet",href="../stylesheets/style.css")
        link(rel="stylesheet",href="../stylesheets/icon.css")
        link(rel="icon",href="../images/img/favicon.ico",type="image/x-icon")
        - const maxStar = 5
        - const getStar = Math.floor(data.averageScore)
        - const ratioStar = Math.round(data.averageScore*10)/10 - getStar
        - let notGetStar
        if ratioStar > Number.EPSILON
            - notGetStar = maxStar - getStar - 1 
            style.
                .comment .commentSummary .ratioStar:before{
                    background: linear-gradient(to Right,#f00 #{Math.round(ratioStar*100)}%,#E6E6E6 #{Math.round((1-ratioStar)*100)}%);
                    content:"\EAA3";    
                    background-clip:text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    display:initial;
                }
        else
            - notGetStar = maxStar - getStar
    body
        header.reviewHeader
            .container
                .innerContainer
                    .leftSection
                        a(href=`/detail/${data.displayInfo.displayInfoId}`)
                            i.fn.fn-backward1
                    .centerSection
                        h1= data.displayInfo.productDescription
                    .rightSection
        section.comment
            .outerContainer
                .innerContainer
                    article.commentSummary
                        h2 예매자 한줄평
                        .summaryContainer
                            .leftContainer
                                - const getStarText = "<i class='fn fn-star2 getStar'></i>"
                                - const notGetStarText = "<i class='fn fn-star2 notGetStar'></i>"
                                if ratioStar > Number.EPSILON
                                    - const ratioStarText = "<i class='fn fn-star2 ratioStar'></i>"
                                    span.starCount!= getStarText.repeat(getStar) + ratioStarText + notGetStarText.repeat(notGetStar)
                                else
                                    span.starCount!= getStarText.repeat(getStar) + notGetStarText.repeat(notGetStar)
                                span.averageScore= getStar + ratioStar
                                span.maxScore / 5.0
                            .rightContainer
                                span.commentCount= `${data.comments.length} 건 `
                                span.enrollText 등록
                    if data.comments.length !== 0
                        - let reverseIndex = data.comments.length - 1
                        while reverseIndex >= 0
                            article.eachComment(data-comment-id=data.comments[reverseIndex].commentId)
                                .topContainer
                                    .leftContainer
                                        p= data.comments[reverseIndex].comment
                                    if data.comments[reverseIndex].commentImages.length !== 0
                                        .rightContainer
                                            img(src=`../${data.comments[reverseIndex].commentImages[0].saveFileName}`, alt="")
                                    else
                                        .rightContainer
                                .bottomContainer
                                    .leftContainer
                                        span.score= data.comments[reverseIndex].score
                                        span.email= data.comments[reverseIndex].reservationEmail.slice(0,4) + "****"
                                        span.visitDate= data.comments[reverseIndex].reservationDate.slice(0,10) + " 방문"
                                    .rightContainer
                                        span.edit 수정
                                        span.delete 삭제
                            - reverseIndex -= 1
                    aside
                        p!= "<i class='fn fn-alarm1'></i> 네이버 예약을 통해 실제 방문한 이용자가 남긴 평가입니다."
        aside.helping
            .container
                a(href="#")!="<i class='fn fn-up1'></i> TOP" 
        footer
            .container
                p.caution 네이버(주)는 통신판매의 당사자가 아니며, 상품의정보, 거래조건, 이용 및 환불 등과 관련한 의무와 책임은 각 회원에게 있습니다.
                span.copyright © NAVER Corp.
        script(src="../javascripts/imageCorrectionZoom.js")
        script(src="../javascripts/reviewEditDelete.js")

